{% extends bruery_core_get_template('bruery_user.template.layout') %}

{% trans_default_domain 'SonataUserBundle' %}

{% block bruery_user_header %}{% endblock %}

{% block bruery_user_message %}{% endblock bruery_user_message %}

{% block fos_user_content %}
	<div class="lockscreen-logo">
		{{ "title_user_resetting" | trans({}, 'SonataUserBundle') | raw}}
	</div>
    {% include bruery_core_get_template('bruery_user.template.resetting.form_content') %}
{% endblock fos_user_content %}